*{
    box-sizing: border-box;
}
  
html{
    font-size: 16px;
}

body{
    background: black;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}