.header__title{
    font-size: 2rem;
    position: absolute;
    top: 2vh;
    z-index: 1;
    
    @include center-x;

    @include md{

        font-size: 5rem;
        max-width: 80vw;
    }

    @include l{
        font-size: 6rem;
        max-width: 60vw;
    }

    @include xl{
        font-size: 10rem;
        max-width: 60vw;
    }
}

.header__video{
    width: 100%;
    height: auto; 
}

.header__presentation {
    position: relative;
  
    &::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,000000+100&0+0,1+100 */
        background: -moz-linear-gradient(top, rgba(240,249,255,0) 30%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(240,249,255,0) 30%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(240,249,255,0) 30%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f9ff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    }
}

.header__sells{
    padding: 15px;
    
    @include flex(row, wrap, center, flex-end);
}

.header__sell-icon{
    margin: 10px;
    width: 40vw;
    font-family: "Roboto";
    font-size: 2rem;

    @include flex(column, nowrap, flex-end, center);

    @include md{
        width: 20vw;
    }
    
    @include l{
        width: 10vw;
    }

    img{
        width: 100%;
        height: auto;
    }

    &:hover{
        filter: brightness(0.5) sepia(1) saturate(10000%);
    }
}