@mixin font-face($font: "dd",$format: "truetype",$file: "dwarvenAxe.ttf", $weight: "normal"){
    @font-face {
        font-family: $font;
        src: url("../fonts/#{$file}") format($format);
        font-weight: $weight;
    }
}

@include font-face;
@include font-face("Roboto", "truetype", "Roboto-Regular.ttf");